.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/showcase1.jpg") center center/cover no-repeat;
        filter: blur(8px) brightness(0.5);
        z-index: -1;
        transform: scale(1.1);
    }
    h2 {
        font-size: 4rem;
        transition: all .3s ease-in-out;
            cursor: default;
            background: url("../images/text-bg2.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            position: relative;
            filter: hue-rotate(0deg);
            &::after {
                content: "About me !";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../images/text-bg2.png") center;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                filter: blur(.5rem) brightness(1.5);
                z-index: -1;
            }
    }
    p {
        font-size: 2rem;
        transition: all .3s ease-in-out;
        cursor: default;
        z-index: 1;
        position: relative;
        filter: hue-rotate(0deg);
        &::after {
            content: "Hello there!, am TomaTTich, a algerian traditional artist specializing in pseudo-psychedelic and abstract art, i mostly create piece on a whim and i love to experiment with colors and techniques to create something unique and eye-catching.";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../images/text-bg2.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            filter: blur(.5rem) brightness(1.5);
            z-index: -1;
        }
    }
    @media (max-width: 1080px) and (orientation: portrait) {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: .75rem;
        }
    }
    
}
.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    @media (max-width: 1080px) and (orientation: portrait) {
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }

}
.aboutContainerText {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
    @media (max-width: 1080px) and (orientation: portrait) {
        text-align: center;
        width: 85%;
    }
}
.aboutContainerImage {
    z-index: 1;
    img {
        width: 40vw;
    }
    @media (max-width: 1080px) and (orientation: portrait) {
        img {
            width: 70vw;
        }
    }
    @media (max-width: 768px) and (orientation: portrait) {
        img {
            width: 70vw;
        }
    }
    @media (max-width: 320px) and (orientation: portrait) {
        img {
            width: 70vw;
        }
    }
}
