@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
    font-weight: bolder;
    line-height: 1.5;
    color: white;
    cursor: none;
}

main > section {
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: .2rem;
    background: black;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #0186B4;
    border-radius: 1rem;
}

.cursor {
    width: 2rem;
    height: 2rem;
    
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.5s ease-out;
    transform: translate(-50%, -50%);
    filter: hue-rotate(180deg);
    mix-blend-mode: difference;
    background-color: tomato;
    box-shadow: 0 0 1rem tomato;
    @media (max-width: 1080px) and (orientation: portrait) {
        display: none;
    }
}

section {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), black);
}