@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
    font-weight: bolder;
    line-height: 1.5;
    color: white;
}
main > section {
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: .2rem;
    background: black;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #0186B4;
    
    border-radius: 1rem;
}