.cover {
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url("../images/cover.jpg") center center/cover no-repeat;
    &::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        filter: blur(1rem);
    }
    @media (max-width: 800px) and (orientation: portrait) {
        background: url("../images/cover-phone.jpg") center center/cover no-repeat;
        .coverText {
            h2 {
                font-size: 10dvw;
            }
            p {
                font-size: 5vw;
            }
        }
    }
    @media (max-width: 320px) and (orientation: portrait) {
        .coverText {
            h2 {
                font-size: 10dvw;
            }
            p {
                font-size: 7vw;
            }
        }
    }
}

.coverText {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(.5);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    padding: 2rem;


    h2 {
        font-size: 5rem;
        transition: all .3s ease-in-out;
            cursor: default;
            background: url("../images/text-bg.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            position: relative;
            filter: hue-rotate(0deg);

            &::after {
                content: "Welcome to my showcase !";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("../images/text-bg.png") center;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                filter: blur(1rem) brightness(1.5) ;
                z-index: -1;
            }
    }
    p {
        font-size: 2rem;
        transition: all .3s ease-in-out;
            cursor: default;
            background: url("../images/text-bg.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            position: relative;
            filter: hue-rotate(0deg);
            &::after {
                content: "and remember... don't make it stop spinning...";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            height: 100%;
            background: url("../images/text-bg.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            filter: blur(.5rem) brightness(1.5);
            z-index: -1;
        }
    }
    @media (max-width: 800px) and (orientation: portrait) {
        text-align: center;
        gap: 5rem;
    }
    @media (max-width: 320px) and (orientation: portrait) {
       height: 100dvh;
       gap: 2rem;
    }
}
