header {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    position: absolute;
    top: 0;
    width: 100%;

    padding: 1vw;
    
    @media (max-width: 1080px) and (orientation: portrait) {
        justify-content: space-between;
        padding: 1vw 2vw;
        button {
            font-size: 5vw;
        }
    }
}

.underline {
    margin-top: .2vw;
    height: .1vw;
    width: 0; 
    background-color: white;
    border: 0;
    transition: all 0.3s ease-in-out;
    animation: renderLeftLine .3s ease-in-out;
}

nav {
    display: flex;
    align-self: center;
    gap: 2vw;
    button {
        color: white;
        font-size: 1.5vw;
        @media (max-width: 1080px) and (orientation: portrait) {
            font-size: 3vw;
        }
    }
    div button:hover + .underline {
    width: 100%;
    animation: renderLeftLine .3s ease-in-out;
    filter: drop-shadow(0 0 .2vw white);
    }
    @media (max-width: 1080px) and (orientation: portrait) {
        display: none;
    }
}

.name {
    align-self: flex-start;
    font-size: 1.5vw;

    background: url("../images/text-bg2.png") center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .3s ease-in-out;
    width: fit-content;
    font-weight: bold;
        &::before {
            content: "TomaTTich";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../images/text-bg2.png") center;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            transition: all .3s ease-in-out;
            filter: blur(.2rem);
    }
    @media (max-width: 1080px) and (orientation: portrait) {
        font-size: 5vw;
    }
}